/* BEM Methodology */
/* -- modifier */
/* __ element */

/* Variants */
.button--default {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 0.625rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    background: #4285F4 none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease, border 200ms ease, opacity 200ms ease,
    transform 100ms ease;
}

.button--secondary {
    color: #060C15;
    background: #ffffff none;
    border: 0.063rem solid #4285F4;
}

.button--ghost {
    color: #060C15;
    background: #ffffff none;
    border: none
}

/* Size */
.button--large {
    padding: 2rem 4rem;
}

.button__icon {
    display: flex;
    flex-shrink: 0;
    place-items: center center;
    font-size: 1.5rem;
    transition: color 200ms ease;
}

.button--has--icon {
    padding-left: 0.75rem;
}

.button--no--content {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}