/* BEM Methodology */
/* -- modifier */
/* __ element */

.button {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 0.625rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease, border 200ms ease, opacity 200ms ease,
    transform 100ms ease;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #E5E7EB;
    color: #9CA3AF;
    opacity: .5;

}

/* Variants */
.button--default {
    background-color: #4285F4;
}

.button--default:not(:disabled):hover {
    background-color: #0292D4;
}

.button--secondary {
    color: #060C15;
    background-color: #ffffff;
    border: 0.063rem solid #4285F4;
}

.button--secondary:disabled {
    background-color: #ffffff;
    border: 0.063rem solid #E5E7EB;
}

.button--secondary:not(:disabled):hover {
    border-color: #0292D4;
}

.button--ghost {
    color: #4285F4;
    background: none;
    border: none
}

.button--ghost:not(:disabled):hover {
    color: #0292D4;
}

.button--ghost:disabled {
    background: none;
}

/*!* Size *!*/
/*.button--small {*/

/*}*/

/*.button--medium {*/

/*}*/

/*.button--large {*/
/*    width: 100%;*/
/*    max-width: 200px;*/
/*    !*padding: 2rem 4rem;*!*/
/*}*/

.button__icon {
    display: flex;
    flex-shrink: 0;
    place-items: center center;
    font-size: 1.5rem;
    transition: color 200ms ease;
}

.button--has--icon {
    padding-left: 0.75rem;
}

.button--no--content {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 100vh;
}
